img{
     background-blend-mode: overlay ;
     opacity: 0.8;
}
ul{
     list-style: none;
}
.our{
     border: 1px solid black;
     border-radius: 15px;
     background-color: rgb(156, 156, 207);
     position: relative;
     bottom: 50px;
  
}
.we{
     position: relative;
}
.hot button{
     position: absolute;
     background-color: red;
     color: whitesmoke;
     padding: 0px 5px;
     border: none;
     border-radius: 10px;
     font-weight: 600;
     top: -15px;
     right: 10px;   
}
@media screen and (max-width:1000px) {
     .our{
          bottom:0px;
     }
     
}
.packege:hover{     
     overflow-x: hidden;
}
  
main{
     overflow-x: hidden;
}